.App {
  font-family: sans-serif;
  text-align: center;
}

.container_total {
  display: flex;
  width: 300px;
  margin: auto;
  flex-direction: column;
}

.container_item {
  display: flex;
  /* background-color: red; */

  height: 50px;
  margin: 10px 10px;

  flex-direction: row;
  justify-content: space-between;

  /* justify-content: center; */
  text-align: center;
}
